  <%- include ../partials/header %>

  <div class="container">
		
		<div class="row row-cols-1 row-cols-md-3 g-4">
      <% pages.forEach(function(Item){ %>
        <div class="col">
          <div class="card card-img-top">
            <img src="https://intl.rakuten-static.com/b/tw/assets/channel/know_how/img/fashion-skirt/1141e6ad922c600c73739d.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title"><%= Item.productName %></h5>
              <p class="card-title">$<%= Item.price %></p>
              <p class="card-text text-center ">	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
                <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                </svg></p>
            </div>
          </div>
          
          </div>
          <% }) %>
          </div>
</div>
    <!-- <a href="/pages/add" class="btn btn-md btn-primary">Add post</a>
    <h1>Posts Index Pages</h1>
    <h3>Here are the Following posts</h3>
    <% pages.forEach(function(Item){ %>
      <h2><%= Item.id %></h2>
      <h2><%= Item.productName %></h2>
      <p><%= Item.price %></p>
      <a href="/pages/<%= Item.id%>">Show</a>
      <a href="/pages/edit/<%= Item.id%>">Edit</a>
      <a href="#" class="deletePost" data-id="<%= Item.id%>">Delete</a>
    <% }) %> -->

  <%- include ../partials/footer %>
