  <%- include ../partials/header %>

  <div class="container">
		
		<div class="row row-cols-1 row-cols-md-3 g-4">
      <% items.forEach(function(Item){ %>
        <div class="col">
          <div class="card card-img-top">
            <img src="https://intl.rakuten-static.com/b/tw/assets/channel/know_how/img/fashion-skirt/1141e6ad922c600c73739d.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title"><%= Item.productName %></h5>
              <p class="card-title">$<%= Item.price %></p>
              <p class="card-text text-center ">	<form method="POST" action="/pages/addCart/<%= Item._id%>"><input type="hidden" value=1 ><input value='Add to Cart' type="Submit" class="btn btn-primary"></a></p>
               
            </div>
          </div>
          
          </div>
          <% }) %>
          </div>
</div>
    
  <%- include ../partials/footer %>
